.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.RDataTmp4
.RDataTmp5
.RDataTmp6
Candata.csv
Cansite.csv
Waterbase_v2020_1_S_WISE6_SpatialObject_DerivedData.csv
Waterbase_v2020_1_T_WISE6_AggregatedData.csv
Waterbase_v2020_1_T_WISE6_AggregatedDataByWaterBody.csv
eurodata.csv
eurodata.zip
wqpdata.RDS
